body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  padding: 10px 0;
  text-align: center;
  z-index: 10;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}
